@media (max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .main {
        height: 100vh;
        background-image: url(./img/mobfon.jpg);
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        &__title {
            width: 343px;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
        }
        &__text {
            width: 343px;
            text-align: center;
            font-size: 14px;
            line-height: 22px;
            &_bold {
                text-align: center;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    .secondary {
        height: 1220px;
        
    }
    .game-box {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 32px;
        &__item {
        width: 343px;
        height: 300px;
        grid-column: span 1;
        display: flex;
        align-items: flex-end;
        margin: 0;
            &_1 {
            background-image: url(./img/mobitemgame.png);
            margin-top: 128px;
            }
            &_2 {
            background-image: url(./img/mobitemgame2.png);
            }
            &_3 {
            background-image: url(./img/mobitemgame3.png);
            margin-bottom: 128px;
            }
        }
    }
    .block-with-game {
        height: 654px;
    }
    .game-block {
        flex-direction: column;
        &__info {
            margin-right: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &_two {
                margin: 0;
            }
        }
        &__title {
            font-size: 32px;
            text-align: center;
        }
        &__text {
            text-align: center;          
            font-size: 14px;
            line-height: 22px; /* 157.143% */
        }
        &__img {
            display: none;
        }
        &__mobile {
            display: block;
            padding-top: 64px;
        }
        
    }
    
}