@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #000915;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.main {
  height: 1024px;
  background-image: url(./img/backgr1.jpg);
  background-repeat: no-repeat;
}

.main__title {
  width: 788px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  padding-top: 220px;
}

.main__text {
  width: 481px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 32px;
}

.main__text_bold {
  font-weight: 700;
}

.button {
  width: 234px;
  height: 48px;
  margin-top: 44px;
  background: #9C0332;
  border: none;
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.button:hover {
  background: #EB443F;
}

.secondary {
  height: 556px;
  background-image: url(./img/backgr2.jpg);
  background-repeat: no-repeat;
}

.game-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.game-box__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  width: 379px;
  height: 300px;
  grid-column: span 4;
  margin: 128px 0;
  display: flex;
  align-items: flex-end;
}
.game-box__item:hover {
  border: 3px solid #44D2FF;
  border-radius: 16px;
  box-sizing: border-box;
}

.game-box__text {
  padding: 0 0 32px 32px;
}

.game-box__item_1 {
  background-image: url(./img/game1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game-box__item_2 {
  background-image: url(./img/game2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game-box__item_3 {
  background-image: url(./img/game3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main {
    height: 100vh;
    background-image: url(./img/mobfon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .main__title {
    width: 343px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .main__text {
    width: 343px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .main__text_bold {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .secondary {
    height: 1220px;
    background-image: url(./img/mobfon2.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .game-box {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 32px;
  }
  .game-box__item {
    width: 343px;
    height: 300px;
    grid-column: span 1;
    display: flex;
    align-items: flex-end;
    margin: 0;
  }
  .game-box__item_1 {
    background-image: url(./img/mobitemgame.png);
    margin-top: 128px;
  }
  .game-box__item_2 {
    background-image: url(./img/mobitemgame2.png);
  }
  .game-box__item_3 {
    background-image: url(./img/mobitemgame3.png);
    margin-bottom: 128px;
  }
}/*# sourceMappingURL=style.css.map */